[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim-jst"]
	path = vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "vimroom"]
	path = vimroom
	url = https://github.com/mikewest/vimroom.git
